@media (max-width: 1340px) {
    .banner.banner_buy:after {
        width: 85%;
    }

    .products__container {
        width: 100%;
        padding: 0 30px;
    }

    .contacts__container {
        width: 100%;
        padding: 0 30px;
    }

    .product__gallery {
        width: 350px;
    }

    .catalog .product__tooltip {
        display: none;
    }

    .catalog .product__gallery .product__tooltip {
        display: flex;
        position: unset;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 30px 0 0 0;
        width: 100%;
    }

    .catalog .product__gallery .product__tooltip__item img {
        width: 35px;
    }

    .additional-products__bottom {
        gap: 10px;
    }

    .additional-products__item {
        padding: 25px;
    }

    .additional-products__bottom .btn {
        width: 130px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }

    .additional-products__price {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 1200px) {
    .advantages__wrapper {
        flex-wrap: wrap;
        gap: 40px;
    }

    .advantages__item {
        width: calc(33% - 30px);
    }
    
    .buy-form__image {
        right: -150px;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .header__location {
        margin: 0;
    }

    .header__social {
        margin: 0 10px;
    }

    .header__inner {
        padding: 0;
    }

    .fixed-header__social {
        display: none;
    }

    .fixed-header__inner {
        padding: 0;
    }

    .product__bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .catalog .product__gallery {
        width: 160px;
    }

    .catalog .product__info {
        width: calc(100% - 160px);
    }

    .additional-products__list {
        padding: 0 30px;
    }

    .additional-products__list .owl-nav button {
        width: 26px;
        height: 26px;
        top: calc(50% - 13px);
        background-size: 6px !important;
    }

    .additional-products__price {
        font-size: 18px;
        line-height: 22px;
    }

    .additional-products__bottom .btn {
        width: 120px;
        height: 40px;
    }
}

@media (max-width: 1024px) {
    .contacts__map iframe{
        filter: unset;
    }

    .buy-form__subtitle {
        width: 400px;
    }

    .buy-form__image {
        width: 600px;
    }

    .banner.banner_buy .breadcrumbs,
    .banner.banner_laptop .breadcrumbs {
        padding: 20px 0;
    }

    .banner__title,
    .banner__items {
        width: 85%;
    }

    .additional-products__title {
        font-size: 32px;
        line-height: 40px;
    }

    .additional-products__list .owl-nav button {
        display: none;
    }

    .additional-products__list {
        padding: 0;
    }

    .additional-products__item {
        padding: 15px 10px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
    }

    .additional-products .products__container {
        padding: 30px 0 30px 30px;
    }

    .product__props__title {
        font-size: 32px;
        line-height: 40px;
    }

    .product__props {
        padding: 30px;
    }

    .product_detail .breadcrumbs,
    .breadcrumbs {
        padding: 20px 30px;
    }

    .product_detail .product__row {
        flex-direction: column;
        gap: 20px;
    }

    .product_detail .product__bottom {
        flex-direction: row;
        align-items: center;
        gap: 25px;
        margin: 20px 0 0 0;
    }
    
    .product_detail .product__info {
        width: 100%;
    }

    .product_detail .product__article {
        margin: 0 0 20px 0;
    }

    .product_detail .product__tooltip {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .product_detail .product__tooltip img {
        width: 57px;
        height: 57px;
    }

    .product_detail .product__detail__slider {
        display: block;
        margin: 0 0 25px 0;
    }

    .product_detail .product__detail__slider .owl-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    .product_detail .product__detail__slider .owl-item img {
        height: auto;
        width: auto !important;
        max-width: 100%;
        max-height: 100%;
    }

    .banner_laptop .banner__image {
        position: absolute;
        width: 300px;
        top: 0;
        right: 0;
        left: unset;
    }

    .banner__image-laptop {
        bottom: unset;
        top: 120px;
        right: 130px;
        left: unset;
        width: 230px;
    }

    .banner.banner_laptop {
        padding: 40px 0 40px 0;
    }

    .banner.banner_laptop:after {
        top: 40px;
        width: 90%;
    }

    .header {
        display: none;
    }

    .fixed-header {
        display: block !important;
    }

    .header-cap {
        height: 100px;
    }

    .fixed-header__location {
        display: none;
    }

    .fixed-header__mobile-phone {
        display: block;
        margin: 0 0 0 40%;
    }

    .fixed-header__wrapper {
        display: none;
    }

    .banner__image {
        width: 100%;
        position: relative;
        top: 0;
        left: unset;
        right: -20px;
        margin: 10px 0 0 0;
    }

    .banner {
        padding: 40px 0;
    }

    .banner__title {
        font-size: 42px;
        line-height: 42px;
        margin: 0 0 30px 0;
    }

    .product {
        padding: 30px;
    }

    .product__gallery {
        display: none;
        width: 250px;
    }

    .catalog .product__gallery {
        display: block;
    }

    .product__left__mobile {
        display: block;
    }

    .product__tooltip {
        display: none;
    }

    .product__left__mobile .product__tooltip {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 30px 0 0 0;
        width: 100%;
    }

    .product__tooltip__block {
        left: 0;
        right: unset;
    }

    .product__tooltip__item img {
        width: 35px;
    }

    .product__gallery__mobile {
        width: 300px;
    }

    .title {
        font-size: 48px;
        line-height: 48px;
        margin: 0 0 45px 0;
    }

    .product__name {
        font-size: 32px;
        line-height: 40px;
    }

    .product__gallery__mobile .owl-item {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product__gallery__mobile .owl-item img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }

    .lines:before {
        right: 15px;
    }

    .lines:after {
        left: 15px;
    }

    .product__footer:after {
        left: -15px;
        right: -15px;
    }

    .callback {
        background-position: left top;
        background-size: 150%;
        height: auto;
    }

    .callback .container {
        padding: 40% 0 0 0;
        justify-content: center;
    }

    .callback__form {
        max-width: calc(100% - 30px);
    }

    .contacts__wrapper {
        flex-direction: column;
    }

    .contacts__info {
        width: 100%;
    }

    .contacts__map {
        width: calc(100% + 60px);
        position: relative;
        left: -30px;
        z-index: 3;
    }

    .contacts__map iframe {
        height: 320px;
    }

    .footer__row {
        flex-wrap: wrap;
    }

    .footer__menu {
        order: 1;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .footer__row:nth-child(1) .footer__col:nth-child(1) {
        order: 2;
    }

    .footer__row:nth-child(1) .footer__col:nth-child(3) {
        order: 3;
    }
    
    .footer .container {
        padding: 0 18px;
    }

    .footer__social__wrapper {
        gap: 10px;
    }

    .footer__social__wrapper a {
        width: 20px;
        height: 20px;
    }

    .footer__row {
        padding: 8px 0;
    }

    .footer {
        padding: 22px 0 0 0;
    }

    .catalog__sidebar {
        display: none;
    }

    .catalog__main {
        width: 100%;
    }

    .products__container {
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .modal__inner {
        width: 330px;
    }

    .modal__item {
        padding: 50px 25px;
    }

    .modal__title {
        font-size: 24px;
        margin: 0 0 5px 0;
    }

    .modal__subtitle {
        margin: 0 0 25px 0;
    }

    .modal__item .btn {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        height: 48px;
    }

    .form__policy {
        margin: 25px 0 0 0;
    }

    .form__policy label {
        font-size: 8px !important;
    }

    .form .error-text {
        font-size: 8px;
    }

    .modal__close {
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advantages__wrapper {
        flex-wrap: wrap;
        gap: 40px;
    }

    .advantages__item {
        width: calc(50% - 20px);
    }

    .buy-form .container {
        padding: 40px 20px;
    }

    .buy-form__title {
        font-size: 20px;
        line-height: 25px;
        margin: 0 0 8px 0;
    }

    .buy-form__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 20px 0;
        width: 220px;
    }

    .buy-form__image {
        width: 250px;
        right: -45px;
        top: -65px;
        bottom: unset;
    }

    .buy-form {
        margin: 60px 0;
    }

    .banner__item span {
        font-size: 20px;
        line-height: 25px;
        width: 30px;
    }

    .banner__item p {
        width: calc(100% - 30px);
        font-size: 16px;
        line-height: 20px;
    }

    .banner.banner_buy:after {
        top: 20px !important;
        width: 95%;
    }

    .banner.banner_buy .banner__title {
        width: 95%;
    }

    .banner.banner_buy .banner__items {
        width: 95%;
    }

    .product__props__wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .product__props__list {
        width: 100%;
        min-width: unset;
    }

    .products__props__advantages {
        width: 100%;
        gap: 30px;
    }

    .products__props__advantages {
        display: grid;
        grid-template-columns: 65px 1fr;
    }

    .products__props__advantage {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .products__props__advantage img {
        width: 37px;
        height: 37px;
    }

    .products__props__advantage span {
        font-size: 14px;
        line-height: 17px;
    }

    .breadcrumbs a,
    .product_detail .breadcrumbs a {
        font-size: 12px;
        line-height: 15px;
    }

    .breadcrumbs,
    .product_detail .breadcrumbs {
        padding: 20px;
    }

    .product_detail .product__tooltip img {
        width: 37px;
        height: 37px;
    }

    .catalog .product__gallery {
        width: 130px;
    }

    .catalog .product__info {
        width: calc(100% - 130px);
    }

    .catalog__buttons {
        margin: 0 15px;
        padding: 20px 35px;
    }

    .catalog .product__info__footer {
        width: 100%;
    }

    .catalog__sort__name p {
        display: none;
    }

    .catalog__sort__trigger span:first-letter {
        text-transform: uppercase;
    }

    .catalog .product {
        padding: 20px;
    }

    .catalog__buttons {
        padding: 20px 5px;
    }

    .product__info .product__info__header {
        display: none;
    }

    .catalog .product__info__header.product__info__header_mobile {
        display: block;
        padding: 0;
        margin: 0 0 20px 0;
        border: none;
    }

    .catalog .product__btn {
        max-width: 100%;
        height: 40px;
        padding: 0;
    }

    .container {
        padding: 0 15px;
    }

    .fixed-header__separator {
        margin: 0 15px;
        height: 60px;
    }

    .fixed-header__logo {
        width: 54px;
    }

    .fixed-header__slogan {
        font-size: 10px;
        line-height: 12px;
        width: auto;
    }

    .fixed-header__logo {
        margin: 0;
    }

    .fixed-header__mobile-phone {
        margin: 0;
    }

    .banner__form {
        width: 100%;
    }

    .banner__title {
        font-size: 32px;
        line-height: 32px;
    }

    .banner__advantage img {
        width: 35px;
        height: 35px;
    }

    .banner__advantage span {
        font-size: 14px;
        line-height: 17px;
    }

    .banner:not(.banner_laptop):after {
        top: 300px;
    }

    .banner__advantages {
        gap: 32px;
        max-width: 100%;
    }

    .banner__form {
        padding: 30px;
        margin: 20px 0 0 0;
    }

    .banner_laptop .banner__image {
        top: -70px;
        width: 160px;
    }

    .banner__image-laptop {
        top: 10px;
        right: 85px;
        width: 100px;
    }

    .lines:before {
        right: 15px;
    }

    .lines:after {
        left: 15px;
    }

    .form__title {
        font-size: 20px;
        line-height: 25px;
        margin: 0 0 20px 0;
    }

    .form__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 20px 0;
    }

    .callback__form {
        padding: 30px;
    }

    .callback__form.form fieldset input {
        max-width: 100%;
    }

    .callback__form.form .btn {
        width: 280px;
        max-width: 100%;
        height: 50px;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
    }

    .form fieldset label {
        font-size: 12px;
        line-height: 15px;
    }

    .header-cap {
        height: 60px;
    }

    .banner .container {
        padding: 0 18px;
    }

    .menu {
        padding: 40px;
    }

    .products__container {
        padding: 0;
    }

    .product {
        padding: 20px;
    }

    .title {
        font-size: 32px;
        line-height: 32px;
        margin: 0 0 40px 0;
    }

    .product__article {
        font-size: 10px;
        line-height: 12px;
        margin: 0 0 20px 0;
    }

    .product__left__mobile {
        width: 200px;
    }

    .product__gallery__mobile .owl-item {
        height: 140px;
    }

    .product__gallery__mobile {
        width: 100%;
    }

    .product__availability {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 10px 0;
    }

    .product__chars {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px 0;
    }

    .product__link {
        gap: 6px;
        font-size: 14px;
        line-height: 17px;
    }

    .product__bottom {
        margin: 15px 0 0 0;
    }

    .product__price {
        font-size: 24px;
        line-height: 30px;
    }   

    .product__price span {
        font-size: 20px;
    }

    .product__btn {
        width: 165px;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
    }

    .product__loan {
        font-size: 10px;
        line-height: 12px;
        margin: 15px 0 0 0;
    }

    .products__inner {
        gap: 30px;
    }

    .banner {
        margin: 0 0 30px 0;
    }

    .owl-dots {
        margin: 20px 0 0 0;
    }

    .go-up {
        right: 15px;
        bottom: 15px;
    }

    .product__footer {
        margin: 50px 0 0 0;
    }

    .product__footer .btn img {
        display: none;
    }

    .products {
        margin: 0 0 30px 0;
    }

    .text {
        padding: 30px 5px;
        margin: 0 0 30px 0;
    }

    .text * {
        font-size: 14px;
        line-height: 16px;
    }

    .product__footer:after {
        bottom: -30px;
    }

    .product__footer:after {
        right: 15px;
        left: 15px;
    }

    .product__footer .btn {
        height: 50px;
        width: 250px;
        padding: 0;
    }

    .callback {
        margin: 0 0 50px 0;
    }
    
    .contacts {
        margin: 0 0 50px 0;
        padding: 0;
    }

    .contacts__info__item img {
        width: 23px;
    }

    .contacts__info__item span {
        font-size: 20px;
        line-height: 25px;
    }

    .contacts__info__wrapper {
        gap: 15px;
        padding: 20px 5px;
    }
    
    .contacts .title {
        padding: 0 0 0 5px;
        margin: 0 0 10px 0;
    }

    .contacts__social {
        width: calc(100% + 30px);
        position: relative;
        left: -15px;
    }

    .contacts__social a img {
        width: 40px;
        height: 40px;
    }

    .contacts__social a {
        height: 70px;
    }

    .contacts .title:after {
        bottom: -10px;
    }

    .callback:after {
        bottom: -40px;
    }

    .footer__menu nav a {
        font-size: 10px;
        line-height: 12px;
        gap: 15px;
    }

    .footer__logo {
        width: 54px;
        margin: 0 0 5px 0;
    }

    .footer__slogan {
        font-size: 10px;
        line-height: 12px;
    }

    .footer__schedule {
        gap: 4px;
    }

    .footer__schedule img {
        width: 10px;
    }

    .footer__schedule span {
        font-size: 8px;
        line-height: 10px;
    }

    .footer__phone {
        font-size: 14px;
        line-height: 17px;
    }

    .footer__contacts {
        gap: 10px;
    }

    .footer__contacts__item span {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }

    .footer__social__title {
        font-size: 10px;
        line-height: 12px;
    }

    .footer__row:nth-child(2) {
        position: relative;
    }

    .footer__row:nth-child(2) .footer__col_end {
        padding: 0 0 70px 0;
    }

    .footer__row:nth-child(2) .footer__col_end .btn {
        position: absolute;
        bottom: 20px;
        font-size: 14px;
        line-height: 17px;
        height: 50px;
        width: 200px;
        padding: 0;
        left: calc(50% - 100px);
    }

    .footer__bottom {
        padding: 50px 0 30px 0;
    }

    .footer__menu nav {
        gap: 10px;
    }

    .product__tooltip__block {
        width: 200px;
        gap: 6px;
    }

    .product__tooltip__text {
        font-size: 10px;
        line-height: 12px;
    }

    .product__tooltip__title {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 480px) {
    .advantages__item {
        width: 100%;
    }

    .buy-form__image {
        right: -65px;
        top: -85px;
    }

    .buy-form .form .btn {
        width: 100%;
    }

    .banner__form .btn {
        width: 100%;
    }

    .product__props__title {
        font-size: 20px;
        line-height: 25px;
        margin: 0 0 15px 0;
        padding: 0 15px 15px 15px;
        width: calc(100% + 30px);
        position: relative;
        left: -15px;
    }

    .additional-products__title {
        font-size: 20px;
        line-height: 25px;
        margin: 0 0 15px 0;
    }

    .additional-products__bottom .btn {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .additional-products__price span {
        font-size: 16px;
    }

    .product__prop__name {
        font-size: 16px;
        line-height: 20px;
        width: 160px;
    }

    .product__props__list {
        gap: 30px;
    }

    .product__prop__btn {
        width: 160px;
        height: 50px;
        font-size: 14px;
        line-height: 17px;
        gap: 8px;
    }

    .product__prop__group {
        width: calc(100vw - 80px);
    }

    .catalog .product__btn {
        width: 100%;
    }

    .banner_laptop .banner__image {
        display: none;
    }

    .banner__image-laptop {
        display: none;
    }

    .menu {
        width: 100%;
        right: -100%;
    }

    .menu__menu a {
        font-size: 20px;
        line-height: 25px;
    }

    .menu__menu {
        margin: 0 0 25px 0;
        gap: 20px;
    }

    .menu__location {
        margin: 0 0 20px 0;
    }

    .menu__location span {
        font-size: 14px;
        line-height: 17px;
    }

    .menu__callback__title {
        font-size: 24px;
        line-height: 30px;
    }

    .menu__callback__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px 0;
    }

    .menu__callback .btn {
        max-width: 100%;
        height: 45px;
        padding: 0;
    }

    .banner__advantages {
        width: 100%;
        display: grid;
        grid-template-columns: 65px 1fr;
    }

    .banner__title:not(.banner__title_mobile) {
        display: none;
    }

    .banner__title.banner__title_mobile {
        display: block;
    }

    .banner__advantage {
        min-width: unset
    }

    .banner__image {
        width: 120%;
        right: unset;
        left: 0;
    }

    .callback__form.form .btn {
        width: 100%;
    }

    .modal-filter {
        width: 100%;
        right: -100%;
    }

    .form fieldset {
        width: 100%;
    }

    .form fieldset input {
        max-width: 100%;
        width: auto;
    }

    .form .btn {
        max-width: 100%;
        padding: 0;
        height: 48px;
    }

    .product__name {
        font-size: 20px;
        line-height: 25px;
        margin: 0 0 10px 0;
    }

    .product__left__mobile {
        width: 130px;
    }

    .product__row {
        gap: 15px;
    }

    .footer__menu nav {
        flex-direction: column;
    }

    .footer__policy,
    .footer__copyright {
        font-size: 8px;
        line-height: 10px;
    }
}